html	{
	max-width: 1440;
}
body	{
	font-family: 'Rubik', sans-serif;

}
@media screen and (max-width: 768px)	{
	html	{
		max-width: 768px;
		overflow-x: hidden;
	}
	.pozadina	{
		width: 100%;
	}
	.topright	{
		position: absolute;
		margin-left: 0px;
		margin-top: 50px;
		font-size: 12px;
		width: 80%;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
	}

	.flexbox-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;

	}
	.flexbox-container div	{
		margin-left: 10px;
	}
	.sanja 	{
		display: none; 
	}
	.moznosti	{
	display: flex;
	justify-content: space-around;
}
.lista	{
	flex: 45%;
	list-style-image: url(images/ic_trending_flat_black_24px.png);
}
#C1	{
	display: none;
}
}
@media screen and (max-width: 320px)	{
.top {
	display: inline-flex;
 	flex-direction: row;
  	flex-wrap: nowrap;
 	justify-content: center;
 	align-items: center;
 	align-content: space-around;
}
.topright	{
	display: none;
}
.kocke	{
	flex-direction: column;
	flex-wrap: wrap;
	margin-left: 10px;
}
.kocka	{
	max-width: 250px;
}
.midbar	{
	width: 100%;
	height: 80px;
	flex-wrap: wrap;
}
.dugme	{
	display: inline-flex !important;
	align-items: flex-start !important;
	text-align: center;
	height: 50px;
	width: 50px;
	font-size: 10px;
	}	
.dugme span {
	font-size: 7px;
}
	.listic	li{
		font-size: 5px;
	}
.social	{
	width: 304px;
    height: 90px;    
    background-color: rgb(70 70 70);    
    overflow-x: auto;
    overflow-y: hidden;
}

#C4	{ 
	list-style: none;
    width: 320px;
    height: 90px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 15px !important;
}

#C4  li {
    float: left;
	height: 20px !important;
	width: 20px !important;
	margin: 10px !important;

}
#C4 > li:nth-child(even) {
    background-color: blue;
}
#ikonce	{
	opacity: 1 !important;
}

#font {
	height: 20px !important;
	width: 20px !important;
}
}


#ikonce	{
	opacity: 0.01;
}

.top {
	display: flex;
}
.codepreneurs	{
	font-style: bold;
	float: left;
	margin-left: 50px;
	flex: 20%;
}
.topright	{
	width: 100%;
	flex: 55%;
}

.btn {
	background-color: white;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
}
/* Dropdown Button */
.dropbtn {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    cursor: pointer;
}
.portfolio	{
	top: 200px;
	width: 100%;
	background-color: #fff9ef;
	height: 100%;
}

.button {
    background-color: black;
    border: none;
    color: white;
    padding: 14px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.kocke	{
	display: flex;
	justify-content: space-around;
	background-color: #fff9ef;
}
.kocka	{
	flex: 25%;
	height: 200px;
	width: 400px;
	margin: 20px;
	color: white;
	border-radius: 5px;
	box-shadow: 4px 15px #ebeef4;
	text-align: center;
	top: 50%;
	left: 50%;

}

.dugme	{
	 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	 border: none;
	 background-color: #e8eade;
	 margin: 3px;
	 padding: 15px 20px;
	 cursor: pointer;
}
.dugme:hover	{
	background-color: black;
	color: white;
}
.dugme:active {
  background-color: black;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.flexbox-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: column wrap;
    align-content: center;
}

.flexbox-container img	{
	height: 200px;
	width: auto;
	margin: 20px;
}
.flexbox-container img:hover	{
	cursor: pointer;
	border: 1px solid #ccc;
}

.pozadina	{
	background-color: #fffeed;
}
.moznosti	{
	display: flex;
	justify-content: space-around;
}
.lista	{
	flex: 33%;
	list-style-image: url(images/ic_trending_flat_black_24px.png);
}
li {
	margin: 12%;
}
.bottom {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(70 70 70);
}

.listic	{
	flex-wrap: wrap;
	list-style-type: none;
	justify-content: center;
	display: flex;

}
.social	{
  	display: flex;
  	justify-content: center;
 	align-items: center;
 	align-content: center;
 	margin-top: 0;
}
.listic li {
	display: inline;
	align-items: center;
	justify-content: center;

}

.dole {
	margin-bottom: 0;
	color: white;
	padding: 0;
	}
